.admin-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 20px;
    height: 200px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9000;
    border-radius: 7px;
    border: 2px solid #0052D4;
    backdrop-filter: blur(80px);
    flex-direction: column;
}

.close-icon{
    right:0;
    top:0;
    position: absolute;
}
.close-icon img{
    height: 20px;
   margin: 10px;
}

@media(max-width: 991px){
    .admin-modal{
        height: 150px;
        width:300px;
        padding:10px;
       
    }

    .admin-modal h2{
        font-size: 14px;
    }

    .close-icon img{
        height: 15px;
       margin: 5px;
    }

}

@media(max-width: 767px){
    .admin-modal{
        height: 130px;
        width:270px;
        padding:10px;
       
    }

    .admin-modal h2{
        font-size: 14px;
    }

    .close-icon img{
        height: 15px;
       margin: 5px;
    }

    .bn3{
        padding: 0.2em 0.5em;
        font-size: 16px !important;
    }

}